/**** CONTENT ****/
/*
1. Form  style
2. Cart detail / checkout
*/

#checkoutBody {
  position: relative;
}
#checkout {
  font-family: var(--ff-secondary);
  padding-bottom: 5rem;
}

/**** FORM STYLE ****/
.checkout-heading-payment,
.checkout-cart-heading {
  font-weight: 500;
  font-size: 3.2rem;
  padding-top: 1.6rem;
  margin-bottom: 1rem;
  text-align: left;
}

.checkout-container {
  display: flex;
  gap: 55px;
}

.checkout-form {
  width: 60vw;
}

.checkout-cart {
  width: 40vw;
}

.checkout-form label {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.checkout-form label #required {
  margin-bottom: -7px;
  margin-left: 0.5rem;
}

.checkout-form input,
.checkout-form .textarea,
.conclusionInputs input,
.conclusionInputs textarea {
  width: 100%;
  padding: 1.5rem;
  outline: none;
  border: 1px solid #ddd;
  transition: border 0.3s ease;
  font-family: var(--ff-secondary);
  font-size: 1.6rem;
}

.checkout-form .textarea,
.conclusionInputs textarea {
  resize: none;
}

.checkout-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkout-form input:hover,
.checkout-form input:focus,
.checkout-form .textarea:hover,
.checkout-form .textarea:focus .conclusionInputs input:hover,
.conclusionInputs input:focus,
.conclusionInputs textarea:hover,
.conclusionInputs textarea:focus {
  border: 1px solid #aaa;
}

.fname_lname {
  display: flex;
  gap: 15px;
}

.fname_lname .fname,
.fname_lname .lname {
  width: 50%;
}
/**** END OF FORM STYLE ****/

/**** CART DETAIL/CHECKOUT ****/
.product-container {
  width: 100%;
  padding: 2rem;
  background: var(--clr-grey);
  margin: 2rem 0 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 456px;
}

.product-container > div:last-child {
  margin-bottom: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.cart-item .product-image {
  width: 65px;
  height: 65px;
  margin-right: 1.5rem;
}

.cart-item .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-info .inner {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.inner .inner-title {
  text-transform: uppercase;
}

.order-review {
  width: 100%;
  margin-bottom: 3rem;
}

.order-review tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.order-review tr:last-child {
  background: var(--clr-grey);
}

.order-review th {
  font-weight: 500;
  text-align: left;
}

.order-review td {
  font-weight: 500;
  text-align: right;
  margin-left: 1rem;
}

.conclusionInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.conclusionInputs label {
  display: flex;
  align-items: center;
  margin: 2rem 0 1rem 0;
}
.conclusionInputs label:first-child {
  margin-top: 0;
}

.conclusionInputs label #required {
  margin-bottom: -7px;
  margin-left: 0.5rem;
}

.conclusionInputs input {
  width: 50%;
}
.conclusionInputs input:hover,
.conclusionInputs input:focus {
  border: 1px solid #aaa;
}

.place-order-btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-size: 2rem;
  font-family: var(--ff-secondary);
  font-weight: 500;
  background: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  width: 100%;
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-secondary);
}

.place-order-btn:hover {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}

#my-form-status.success {
  margin-top: 2rem;
  font-weight: 500;
  color: green;
}
#my-form-status.error {
  margin-top: 2rem;
  font-weight: 500;
  color: #ff0000;
}

#required-fields {
  padding-top: 1.6rem;
  width: 100%;
}

#required-fields p {
  padding-left: 1rem;
  padding-block: 0.25rem;
  color: var(--clr-secondary);
  font-weight: 600;
  font-family: var(--ff-secondary);
  background: var(--clr-primary);
}

.required-item {
  display: none;
}

/* modal of gratefulness */
#modal-gratefulness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 236, 239, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

#modal-gratefulness.active {
  opacity: 1;
  visibility: visible;
}

#modal-gratefulness .modal {
  border-radius: 1rem;
  width: clamp(300px, 50vw, 600px);
  min-height: 50vh;
  background-color: var(--clr-secondary);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
  font-family: var(--ff-secondary);
}

.modal > h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.modal #modal-close {
  margin-top: 1rem;
  border: 2px solid var(--clr-grey);
  background: transparent;
  padding: 8px 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  letter-spacing: 1px;
  transition: var(--transition);
}
.modal #modal-close:hover {
  color: red;
}

/**** END OF CART DETAIL/CHECKOUT ****/

/* RESPONSIVE */
@media screen and (max-width: 1400px) {
  .checkout-form {
    width: 50vw;
  }
  .checkout-cart {
    width: 50vw;
  }
}

/* laptop */
@media screen and (max-width: 1024px) {
  #checkout {
    padding: 0 0 3rem;
  }

  .checkout-container {
    flex-direction: column;
    gap: 25px;
  }

  .checkout-form {
    width: 100%;
  }

  .checkout-cart {
    width: 100%;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    gap: 10px;
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  .checkout-heading-payment,
  .checkout-cart-heading {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  .checkout-cart-heading {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  /* modal of gratefulness */
  #modal-gratefulness .modal {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
