/**** CONTENT ****/
/*
1. Navigation bar 
2. Hero section
3. Structure section
4. Dessert section
5. Orasnice section
6. Sunflower section
7. Oil plum section
8. Oil walnut section
9. Contact section
10. Sponsors section 
*/

/**** 1. NAVIGATION BAR ****/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--clr-secondary);
  border-bottom: 4px solid var(--clr-primary);
}

.custome-offer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-primary);
  padding: 0.5rem 5rem;
}
.offer,
.offer-mobile {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.offer-mobile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem 0;
  width: 80vw;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  background: var(--clr-primary);
  color: var(--clr-grey);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 2.5rem;
  letter-spacing: 0.3em;
  font-size: 2.4rem;
}

.logo.logo-mobile {
  display: none;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 1.8rem;
  border-bottom: 3px solid var(--clr-secondary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.nav-link:hover {
  border-bottom: 3px solid var(--clr-primary);
}
.nav-link.active {
  border-bottom: 3px solid var(--clr-primary);
}

.cart-btn {
  display: flex;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: var(--clr-primary);
}
.cart-btn .cart-amount {
  align-self: flex-end;
  font-weight: 500;
  font-family: var(--ff-secondary);
  color: #363636;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 100ms;
  -webkit-transition: all 100ms;
  background: var(--clr-primary);
}
/**** END OF NAVIGATION BAR ****/

/**** 2. HERO SECTION ****/
.hero-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 10vw);
  gap: 15px;
  padding-top: 11.5rem;
}

.hero-video,
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hero-video {
  position: relative;
  z-index: -1;
}

.hero-item-1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.hero-item-2 {
  grid-column: 4/6;
  grid-row: 1/4;
}

.hero-item-3 {
  grid-column: 6/9;
  grid-row: 1/4;
}
/**** END OF HERO SECTION ****/

/**** 3. STRUCTURE SECTION ****/
.structure-section {
  width: 100%;
  padding-top: 11.5rem;
}
.structure-section .heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--clr-secondary);
  background: var(--clr-primary);
  padding-block: 0.5rem;
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
}

.structure-container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.structure-item {
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.structure-item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}
.structure-item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.structure-item .title {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.structure-item .desc {
  line-height: 2.4rem;
}
/**** END OF STRUCTURE SECTION ****/

/**** 4. DESSERT SECTION ****/
.dessert-section {
  padding-top: 11.5rem;
  height: 650px;
  max-width: 1700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.dessert-section .left-image {
  width: 50%;
  height: 100%;
}
.dessert-section .left-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.dessert-section .dessert-info {
  width: 50%;
  height: 100%;
  background: #ffa57a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dessert-section .dessert-info .info {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  text-align: center;
}
/**** END OF DESSERT SECTION ****/

/**** 5. ORASNICE SECTION ****/
.orasnice-section {
  padding-top: 11.5rem;
  height: 650px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.orasnice-section .orasnice {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}
.orasnice-section .orasnice img {
  height: 100%;
  width: 300px;
}

.orasnice-info {
  padding-top: 5rem;
}
.orasnice-info .heading {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.orasnice-info .desc {
  max-width: 80%;
  line-height: 2.4rem;
}
/**** END OF ORASNICE SECTION ****/

/**** 6. SUNFLOWER SECTION ****/
.sunflower-section {
  margin-top: 11.5rem;
  height: 800px;
  width: 100%;
  background: #fed91c;
  padding: 4rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sunflower-section .sunflower {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.sunflower-section .sunflower img {
  width: 300px;
  height: 100%;
}

.sunflower-section .sunflower-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sunflower-info .heading {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 90%;
}

.sunflower-info .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-position: inside;
  /* padding-left: rem; */
}

.sunflower-info .info li {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
/**** END OF SUNFLOWER SECTION ****/

/**** 7. OIL PLUM SECTION, 
      8. OIL WALUNT SECTION ****/
.oil-plum-section,
.oil-walnut-section {
  padding-top: 11.5rem;
  width: 100%;
  display: flex;
  gap: 50px;
}

.plum-info,
.walunt-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  width: 50%;
}
.plum-info .heading,
.walunt-info .heading {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.plum-info .desc,
.walunt-info .desc {
  text-align: center;
  line-height: 2.4rem;
}

.oil-plum-section .plum,
.oil-walnut-section .walunt {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}
.oil-plum-section .plum img,
.oil-walnut-section .walunt img {
  height: 100%;
  width: 180px;
}
/**** END OF 7. OIL PLUM SECTION, 
      8. OIL WALUNT SECTION      ****/

/**** 9. CONTACT SECTION ****/
.contact-section {
  padding-top: 11.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-mokup {
  width: 50%;
}
.contact-mokup img {
  width: 100%;
  height: 100%;
}

.contact-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  background: #ed9cad;
  padding: 0 2rem 0 8rem;
}

.contact-item {
  display: flex;
  align-items: center;
}
.contact-item img {
  width: 60px;
  height: 60px;
  margin-right: 5rem;
}
.contact-item span {
  font-size: 2rem;
}
/**** END OF CONTACT SECTION ****/

/**** 10. SPONSORS SECTION ****/
.sponsors-section {
  padding-top: 11.5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors-section .heading {
  font-size: 4.5rem;
  text-align: center;
}
.sponsors-section .heading span {
  text-transform: uppercase;
  font-weight: 800;
}
.sponsors-section .line {
  width: 150px;
  height: 6px;
  background: var(--clr-primary);
  margin: 2.5rem 0 8rem 0;
}

.sponsors-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.sponsor-item {
  width: 150px;
}
.sponsor-item img {
  width: 150px;
}
/**** END OF SPONSORS SECTION ****/

/* RESPONSIVE */
/* laptop */
@media screen and (max-width: 1024px) {
  /**** NAVIGATION BAR ****/
  .navbar {
    padding: 1rem 0;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .cart-btn {
    align-self: flex-start;
  }
  /**** END NAVIGATION BAR ****/

  /**** HERO SECTION ****/
  .hero-section {
    padding-top: 13rem;
  }
  /**** END OF HERO SECTION ****/

  /**** STRUCTURE SECTION ****/
  .structure-section {
    padding-top: 13rem;
  }

  .structure-section .heading {
    margin-bottom: 1.5rem;
  }

  .structure-item img {
    margin: 0;
  }
  /**** END OF STRUCTURE SECTION ****/

  /****  DESSERT SECTION ****/
  .dessert-section {
    padding-top: 13rem;
  }

  .dessert-section .left-image img {
    object-fit: cover;
  }

  .dessert-section .dessert-info {
    width: 50%;
  }
  /**** END OF DESSERT SECTION ****/

  /****  ORASNICE SECTION ****/
  .orasnice-section {
    padding-top: 13rem;
  }
  /**** END OF ORASNICE SECTION ****/

  /****  SUNFLOWER SECTION ****/
  .sunflower-section {
    margin-top: 13rem;
  }
  /**** END OF SUNFLOWER SECTION ****/

  /**** 7. OIL PLUM SECTION, 
        8. OIL WALUNT SECTION ****/
  .oil-plum-section,
  .oil-walnut-section {
    padding-top: 13rem;
  }

  .plum-info .heading,
  .walunt-info .heading {
    font-size: 3.6rem;
  }
  /**** END OF 7. OIL PLUM SECTION, 
        8. OIL WALUNT SECTION       ****/

  /**** CONTACT SECTION ****/
  .contact-section {
    padding-top: 13rem;
  }

  .contact-information {
    padding: 2rem 2rem 2rem 5rem;
  }

  .contact-item img {
    margin-right: 2.5rem;
  }
  /**** END OF CONTACT SECTION ****/

  /**** SPONSORS SECTION ****/
  .sponsors-section {
    padding-top: 13rem;
  }

  .sponsors-section .line {
    margin-bottom: 5rem;
  }

  .sponsors-container {
    justify-content: center;
  }
  /**** END OF SPONSORS SECTION ****/
}

/* tablet */
@media screen and (max-width: 768px) {
  /**** NAVIGATION BAR ****/
  .nav-container {
    display: none;
  }

  .logo.logo-mobile {
    display: block;
  }

  .logo {
    display: none;
  }

  .nav-container.active {
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    display: block;
    background: var(--clr-secondary);
    z-index: 5;
    width: 100%;
    min-height: 100vh;
    padding-left: 10vw;
  }
  .nav-container.active .nav-items {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .nav-container.active .nav-item {
    margin-block-start: 2rem;
  }

  .cart-btn {
    align-self: center;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /**** END NAVIGATION BAR ****/

  /**** HERO SECTION ****/
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
  }

  .hero-item {
    height: 400px;
  }

  .hero-item-1 {
    width: 100%;
  }
  .hero-item-2,
  .hero-item-3 {
    width: 280px;
  }
  /**** END OF HERO SECTION ****/

  /****  STRUCTURE SECTION ****/

  .structure-section {
    padding-top: 10rem;
  }

  .structure-container {
    gap: 0;
  }
  /**** END OF STRUCTURE SECTION ****/

  /****  DESSERT SECTION ****/
  .dessert-section {
    padding-top: 10rem;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .dessert-section .left-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dessert-section .left-image img {
    width: 100%;
  }
  .dessert-section .dessert-info {
    width: 100%;
    padding: 5rem;
  }
  .dessert-section .dessert-info .info {
    font-size: 1.8rem;
  }
  /**** END OF DESSERT SECTION ****/

  /****  ORASNICE SECTION ****/
  .orasnice-section {
    padding-top: 10rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .orasnice-section .orasnice {
    width: 100%;
  }
  .orasnice-section .orasnice img {
    height: 100%;
    width: 250px;
  }

  .orasnice-info {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orasnice-info .heading {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .orasnice-info .desc {
    max-width: 100%;
    line-height: 2.4rem;
    text-align: center;
  }
  /**** END OF ORASNICE SECTION ****/

  /****  SUNFLOWER SECTION ****/
  .sunflower-section {
    margin-top: 10rem;
    height: auto;
    flex-direction: column;
    gap: 40px;
  }
  .sunflower-section .sunflower {
    height: 100%;
    width: 100%;
  }
  .sunflower-section .sunflower img {
    width: 250px;
    height: 100%;
  }
  .sunflower-section .sunflower-info {
    width: 100%;
    height: 100%;
  }
  .sunflower-info .heading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .sunflower-info .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
  }

  .sunflower-info .info li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  /**** END OF SUNFLOWER SECTION ****/

  /**** 7. OIL PLUM SECTION, 
        8. OIL WALUNT SECTION ****/
  .oil-plum-section,
  .oil-walnut-section {
    padding-top: 10rem;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .oil-walnut-section {
    flex-direction: column-reverse;
  }

  .plum-info,
  .walunt-info {
    padding-top: 0;
    width: 100%;
  }
  .plum-info .heading,
  .walunt-info .heading {
    font-size: 3.5rem;
  }

  .oil-plum-section .plum,
  .oil-walnut-section .walunt {
    height: 100%;
    width: 100%;
  }

  .oil-plum-section .plum img,
  .oil-walnut-section .walunt img {
    height: 100%;
    width: 150px;
  }

  .plum-info .desc,
  .walunt-info .desc {
    text-align: center;
    line-height: 2.4rem;
  }
  /**** END OF 7. OIL PLUM SECTION, 
        8. OIL WALUNT SECTION      ****/

  /**** CONTACT SECTION ****/
  .contact-section {
    padding-top: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-mokup {
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
  }
  .contact-mokup img {
    width: 100%;
    height: 500px;
  }

  .contact-information {
    width: 100%;
    gap: 30px;
  }

  .contact-item img {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
  }
  .contact-item span {
    font-size: 1.8rem;
  }
  /**** END OF CONTACT SECTION ****/

  /**** SPONSORS SECTION ****/
  .sponsors-section {
    padding-top: 10rem;
  }
  .sponsors-section .heading {
    font-size: 3.6rem;
  }
  /**** END OF SPONSORS SECTION ****/
}

/* mobile */
@media screen and (max-width: 600px) {
  /**** NAVIGATION BAR ****/
  .custome-offer {
    padding: 0.5rem 1rem !important;
  }
  .offer {
    display: none;
  }
  .offer-mobile {
    display: block;
    font-size: 1.2rem;
    min-width: 200px;
  }

  .navbar {
    width: 90vw;
  }

  .nav-container.active {
    top: 111px;
    padding-left: 5vw;
  }
  /**** END NAVIGATION BAR ****/

  /**** HERO SECTION ****/
  .hero-section {
    padding-top: 11rem;
  }
  /**** END OF HERO SECTION ****/

  /**** STRUCTURE SECTION ****/
  .structure-section {
    padding-top: 11rem;
  }

  .structure-item {
    width: 200px;
  }
  /**** END OF STRUCTURE SECTION ****/

  /****  DESSERT SECTION ****/
  .dessert-section {
    padding-top: 11rem;
  }
  /**** END OF DESSERT SECTION ****/

  /****  ORASNICE SECTION ****/
  .orasnice-section {
    padding-top: 11rem;
  }
  /**** END OF ORASNICE SECTION ****/

  /****  SUNFLOWER SECTION ****/
  .sunflower-section {
    margin-top: 11rem;
  }
  /**** END OF SUNFLOWER SECTION ****/

  /****  OIL PLUM SECTION ****/
  .oil-plum-section,
  .oil-walnut-section {
    padding-top: 11rem;
  }
  /**** END OF OIL PLUM SECTION ****/

  /**** CONTACT SECTION ****/
  .contact-section {
    padding-top: 11rem;
  }

  .contact-mokup {
    height: 400px;
  }
  .contact-mokup img {
    width: 100%;
    height: 400px;
  }
  /**** END OF CONTACT SECTION ****/

  /**** SPONSORS SECTION ****/
  .sponsors-section {
    padding-top: 11rem;
  }
  /**** END OF SPONSORS SECTION ****/
}

@media screen and (max-width: 425px) {
  /**** CONTACT SECTION ****/
  .contact-mokup {
    max-height: 350px;
  }
  .contact-mokup img {
    width: 100%;
    max-height: 350px;
  }
  /**** END OF CONTACT SECTION ****/
}

@media screen and (max-width: 375px) {
  /**** HERO SECTION ****/
  .hero-item-2,
  .hero-item-3 {
    width: 100%;
  }
  /**** END OF HERO SECTION ****/
}
