/**** CONTENT ****/
/*
1. Cart section
2. Shop table section
3. Total section
*/

/**** CART SECTION ****/
#bodyKorpa {
  background: var(--clr-grey);
}

.cart-section {
  width: 100%;
  min-height: calc(100vh - 120px);
  background: var(--clr-secondary);
  padding: 1.6rem 2.4rem 4.8rem;
  font-family: var(--ff-secondary);
}

.cart-heading {
  font-weight: 800;
  font-size: 3.2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--clr-primary);
}

/**** SHOP TABLE SECTION****/
.shop-table {
  margin: 7.2rem 0;
  width: 100%;
  height: auto;
}

.cart-empty-label {
  display: none;
}

.cart-empty-label .title {
  width: 100%;
  background: var(--clr-grey);
  padding: 1.6rem;
  font-size: 1.6rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1.6rem;
  color: var(--clr-primary);
}

.cart-empty-label .btn-back {
  border: 1px solid #ddd;
  outline: none;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  color: var(--clr-primary);
  background: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}
.cart-empty-label .btn-back:hover {
  background: var(--clr-grey);
}

th,
td {
  padding: 16px 12px;
  border-bottom: 2px solid var(--clr-grey);
}

.product-name,
.product-price,
.product-quantity,
.product-subtotal {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
}

.product .product-remove img {
  cursor: pointer;
}

.product .product-thumbnail img {
  width: 25px;
  height: 55px;
  object-fit: contain;
}

.product .product-name,
.product .product-price,
.product .product-quantity,
.product .product-subtotal {
  font-size: 1.6rem;
  font-weight: 500;
}

.product .product-quantity .buttons {
  display: flex;
  align-items: center;
}

.product .product-quantity .buttons .decrement,
.increment {
  cursor: pointer;
}

.product .product-quantity .buttons .quantity {
  margin-inline: 1rem;
}
/**** END OF SHOP TABLE SECTION ****/

/**** TOTAL SECTION****/
.total-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.total-container {
  width: 50%;
}
.total-container .title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.cart-totals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-grey);
  padding: 1.5rem;
  border-radius: 8px;
}
.cart-totals .price-total {
  font-weight: 600;
}

.total-container .payment,
.total-container .clearAll {
  width: 100%;
  text-align: center;
  padding: 1.5rem 3.5rem;
  margin-top: 2rem;
  font-size: 2rem;
  transition: var(--transition);
  cursor: pointer;
  border: 2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.total-container .payment:hover {
  background: var(--clr-primary);
  color: var(--clr-secondary);
}

.total-container .clearAll {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.total-container .clearAll:hover {
  background: #ff0000;
  color: var(--clr-secondary);
}
/**** END OF TOTAL SECTION****/

/**** END OF CART SECTION ****/

/* RESPONSIVE */
/* laptop */
@media screen and (max-width: 1024px) {
  .cart-section {
    min-height: calc(100vh - 132px);
  }

  /**** TOTAL SECTION****/
  .total-container {
    width: 60%;
  }
  /**** END OF TOTAL SECTION****/
}

/* tablet */
@media screen and (max-width: 768px) {
  .cart-section {
    min-height: calc(100vh - 100px);
  }

  tr:nth-child(even) {
    background: var(--clr-grey);
  }

  /**** SHOP TABLE SECTION ****/
  .shop-table {
    margin: 3rem 0;
  }

  .onLargeScreen {
    display: none;
  }

  .product {
    display: block;
  }

  .product td {
    display: block;
  }

  .product .product-moblie {
    display: block;
    text-align: right !important;
  }
  .product .product-moblie::before {
    content: attr(data-title) ": ";
    font-weight: 600;
    float: left;
  }

  .product .product-quantity .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .product .product-quantity .buttons .quantity {
    align-self: baseline;
  }

  .product .product-quantity .decrement img,
  .product .product-quantity .increment img {
    width: 18px;
    vertical-align: center;
  }
  /**** END OF SHOP TABLE SECTION ****/

  /**** TOTAL SECTION****/
  .total-section {
    justify-content: flex-start;
  }

  .total-container {
    width: 100%;
  }
  .total-container .title {
    font-size: 2.8rem;
  }
  .cart-totals {
    border-radius: 5px;
  }

  .total-container .payment {
    padding: 1.5rem;
  }
  /**** END OF TOTAL SECTION****/
}

/* mobile */
@media screen and (max-width: 600px) {
  #bodyKorpa {
    background: var(--clr-secondary);
  }
  .cart-section {
    min-height: calc(100vh - 111px);
    padding: 1.6rem 0 4.8rem;
  }
}

@media screen and (max-width: 375px) {
  /**** TOTAL SECTION****/
  .total-container .payment {
    font-size: 1.8rem;
  }
  /**** END OF TOTAL SECTION****/
}
